---
import Layout from '../layouts/Layout.astro';
import GF from '../assets/bio-card5.webp'
import GB from '../assets/bio-card7.webp'
import VF from '../assets/bio-card6.webp'
import VB from '../assets/bio-card8.webp'
import brandVideo from '../assets/khimera-portfolio-esp.webm'
import Services from '../components/ServicesEsp.astro';
import logoGif from "../assets/khimera-animated-logo.gif"
import contactPhone from '../assets/contact-01.svg'
import contactEmail from '../assets/contact-07.svg'
import NavBar from '../components/NavBar.astro';
import poster from '../assets/portada-video.webp';
import linkedinIcon from '../assets/icono-linkedin-negativo.svg';

---

<Layout
  title="Khimera Studio"
  description="Khimera Studio, diseño gráfico y desarrollo web. Realizamos Branding, Diseño de Logos, Infografías, Diseño Web, Desarrollo Web, Aplicaciones Web, gestión de RR.SS., Edición de Fotografía y de Video, Presentaciones Corporativas, packaging"
  keywords="Khimera Studio, estudio de diseño, diseño web, desarrollo web, branding, diseño gráfico, soluciones creativas, estudio de diseño gráfico, agencia de diseño, consultora de diseño"
  lang="es"
>
  <main>
    <NavBar />
    <section class="introSection" id="Intro" data-name="navLinkField">
      <div>
        <p>Quimera</p>
        <p>kiˈme.ra/</p>
        <p>Sustantivo</p>
        <p>
          1. Algo que se desea con ilusión, pero que es imposible o muy difícil de alcanzar. Una utopía.
        </p>
        <p>
          2.	(En la mitología griega) Un monstruo que escupe fuego, con cabeza de león, cuerpo de cabra y cola de serpiente.
        </p>
        <p id="paragraph1">
          Nuestro nombre nace de nuestra pasión por el arte de la creación, la magia y el folclore.
        </p>
        <p id="paragraph2">
          Hoy, mientras seguimos creando e inspirando, Khimera Studio es un testimonio del poder de la imaginación. Te invitamos a unirte a nuestro viaje, donde las ideas toman forma y las historias cobran vida.
        </p>
      </div>
    </section>
    <section id="AboutUs" data-name="navLinkField">
      <h1 class="sectionTitle">NOSOTROS</h1>
      <h2 class="aboutUsSubTitle"><span class="aboutUsSubTitleSpan">¡Hacé clic </span> en la tarjeta para voltearla y conocernos mejor!</h2>
      <div class="sceneContainer">
        <div class="scene">
          <div class="container" id="container1">
            <div class="front" data-flip="1">
              <img id="front1" src={GF.src} alt="brand logo" class="customShadow">
            </div>
            <div class="back" data-flip="1" >
              <img loading="lazy" id="back1" src={GB.src} alt="brand logo" class="customShadow">
            </div>
          </div>
        </div>
        <div class="scene">
          <div class="container" id="container2">
            <div class="front" data-flip="2" >
              <img id="front2" src={VF.src} alt="brand logo" class="customShadow">
            </div>
            <div class="back" data-flip="2" >
              <img loading="lazy" id="back2" src={VB.src} alt="brand logo" >
            </div>
          </div>
        </div>
      </div>
      <p class="aboutUsDescription">
        Khimera comenzó su aventura en 2012 como un proyecto freelance, diseñando gráficos para los clientes de Vanessa en Costa Rica y Estados Unidos. ¡Recientemente, se ha convertido en un negocio familiar! Después de mudarse a Buenos Aires, Argentina,
        <span>
          <a href="https://www.linkedin.com/in/vanessabarzuna/" target="_blank" rel=" noreferrer" >
          Vanessa
          </a>
        </span> unió fuerzas con su esposo 
        <span>
          <a href="https://www.linkedin.com/in/gonzalo-garcia-calvo/" target="_blank" rel=" noreferrer">
          Gonzalo
          </a></span>. Juntos, no solo han ampliado sus servicios, sino que también están llevando su magia por todo América.
      </p>
    </section>
    <section class="videoSection" id="OurWork" data-name="navLinkField">
      <h1 class="sectionTitle">PORTAFOLIO</h1>
      <p>Nuestro portafolio es súper versátil y se adapta a una audiencia muy diversa. En este video pueden ver rápidamente algunos de nuestros proyectos, mostrando la variedad y creatividad que ofrecemos:</p>
      <div class="videoContainer">
        <video controls poster={poster.src} preload="none">
          <source src={brandVideo} type="video/webm">
          <track src='/video.vtt' kind="captions" srclang="en" label="English">
        </video>
        
      </div>
    </section>
    <section class="servicesSection" id="OurServices" data-name="navLinkField">
      <h1 class="sectionTitle">SERVICIOS</h1>
      <p>Brindamos una amplia gama de servicios, desde diseño gráfico hasta desarrollo web. A continuación, mostramos algunos de los más populares:
      </p>
      <Services />
      <h2>*Gestión de Servicios a Terceros</h2>
    </section>
    <section class="contactFormSection">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfMpiPp8Wwg4d9xY0VcXgD2uH_C2TQEozpVtedHCWYVDY3_SA/viewform?usp=sharing" target="_blank" rel=" noreferrer" class="formLink">¡Solicitá PRONTO una cotización!</a>
    </section>
  </main>
  <footer id="Contact" data-name="navLinkField">
    <img src={logoGif.src} alt="brand logo animated gif" />
    <div class="footerBanner">
      <div>
        <img src={contactEmail.src} alt="icono de email" loading="lazy">
        <p>khimerastudio@gmail.com</p>
      </div>
      <div>
        <img src={contactPhone.src} alt="icono de telefono" loading="lazy">
        <p>+54 9 11 50112479</p>
      </div>
      <div>
        <a href="https://www.linkedin.com/company/khimera-design-studio" target="_blank" rel=" noreferrer" class="linkedinLink">
          <img src={linkedinIcon.src} alt="link a perfil de Linkedin" loading="lazy">
          <p>Seguinos y obtén más ideas</p>
        </a>
      </div>
    </div>    
  </footer>
</Layout>