---
import Layout from '../layouts/Layout.astro';
import GF from '../assets/bio-card1.webp'
import GB from '../assets/bio-card2.webp'
import VF from '../assets/bio-card3.webp'
import VB from '../assets/bio-card4.webp'
import brandVideo from '../assets/khimera-portfolio.webm'
import Services from '../components/Services.astro';
import logoGif from "../assets/khimera-animated-logo.gif"
import contactPhone from '../assets/contact-01.svg'
import contactEmail from '../assets/contact-07.svg'
import NavBar from '../components/NavBar.astro';
import poster from '../assets/portada-video.webp';
import linkedinIcon from '../assets/icono-linkedin-negativo.svg';
---

<Layout
  title="Khimera Studio"
  description="Khimera Studio is a creative design and development studio crafting unique web and graphic solutions across the Americas."
  keywords="Khimera Studio, design studio, web design, web development, branding, graphic design, creative solutions"
  lang="en"
>
  <main>
    <NavBar />
    <section class="introSection" id="Intro" data-name="navLinkField">
      <div>
        <p>chimera</p>
        <p>/kʌɪˈmɪərə,kɪˈmərʌ/</p>
        <p>noun</p>
        <p>
          1. A thing which is hoped for, but is illusory or impossible to achieve. An utopia.
        </p>
        <p>
          2. (In Greek mythology) a fire-breathing female monster with a lion's head, a goat's body, and a serpent's tail.
        </p>
        <p id="paragraph1">
          Our name comes from our passion for the art of creation, magic, and folklore.
        </p>
        <p id="paragraph2">
          Today, as we continue to create and inspire, Khimera Studio remains a statement to the power of imagination, inviting everyone to join us on a journey where ideas take shape and stories come to life.
        </p>
      </div>
    </section>
    <section id="AboutUs" data-name="navLinkField">
      <h1 class="sectionTitle">ABOUT US</h1>
      <h2 class="aboutUsSubTitle"><span class="aboutUsSubTitleSpan">Click the card</span> to flip it and get to know us better!</h2>
      <div class="sceneContainer">
        <div class="scene">
          <div class="container" id="container1">
            <div class="front" data-flip="1">
              <img id="front1" src={GF.src} alt="brand logo" class="customShadow">
            </div>
            <div class="back" data-flip="1">
              <img loading="lazy" id="back1" src={GB.src} alt="brand logo" class="customShadow">
            </div>
          </div>
        </div>
        <div class="scene">
          <div class="container" id="container2">
            <div class="front" data-flip="2">
              <img id="front2" src={VF.src} alt="brand logo" class="customShadow">
            </div>
            <div class="back" data-flip="2" >
              <img loading="lazy" id="back2" src={VB.src} alt="brand logo" >
            </div>
          </div>
        </div>
      </div>
      <p class="aboutUsDescription">
        Khimera kicked off its journey in 2012 as a freelance gig, crafting some graphic design projects for Vanessa's clients in Costa Rica and the United States. Recently, it’s morphed into a family business! After 
        <span>
          <a href="https://www.linkedin.com/in/vanessabarzuna/" target="_blank" rel=" noreferrer" id="linkVane" >
            Vanessa
          </a>
        </span> 
        moved to Buenos Aires, Argentina, she teamed up with her husband 
        <span>
          <a href="https://www.linkedin.com/in/gonzalo-garcia-calvo/" target="_blank" rel=" noreferrer" id="linkGon">
            Gonzalo
          </a></span>. Together, they’re not just expanding their services but also spreading their magic across the Americas.
      </p>
    </section>
    <section class="videoSection" id="OurWork" data-name="navLinkField">
      <h1 class="sectionTitle">OUR WORK</h1>
      <p>Our portfolio is super versatile, and we deliver to the needs of a very diverse audience. Here’s a quick overview video of some of our projects, showcasing the variety and creativity we fulfill:</p>
      <div class="videoContainer">
        <video controls poster={poster.src} preload="none">
          <source src={brandVideo} type="video/webm">
          <track src='/video.vtt' kind="captions" srclang="en" label="English">
        </video>
        
      </div>
    </section>
    <section class="servicesSection" id="OurServices" data-name="navLinkField">
      <h1 class="sectionTitle">OUR SERVICES</h1>
      <p>Our services cover a wide range from graphic design to web development.
        Below, are some of the most popular services we provide more often:
      </p>
      <Services />
      <h2>*Third Party Services Management</h2>
    </section>
    <section class="contactFormSection">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSegb8a5y6rvvVH3g2byjynnDc5GpZdsqZZOL4OVuK8a56nKJw/viewform?usp=sharing" target="_blank" rel=" noreferrer" class="formLink">Get your quote ASAP!</a>
    </section>
  </main>
  <footer id="Contact" data-name="navLinkField">
    <img src={logoGif.src} alt="brand logo animated gif" />
    <div class="footerBanner">
      <div>
        <img src={contactEmail.src} alt="email icon" loading="lazy">
        <p>khimerastudio@gmail.com</p>
      </div>
      <div>
        <img src={contactPhone.src} alt="phone icon" loading="lazy">
        <p>+54 9 11 50112479</p>
      </div>
      <div>
        <a href="https://www.linkedin.com/company/khimera-design-studio" target="_blank" rel=" noreferrer" class="linkedinLink">
          <img src={linkedinIcon.src} alt="link a perfil de Linkedin" loading="lazy">
          <p>Follow Us and get creative ideas</p>
        </a>
      </div>
    </div>    
  </footer>
</Layout>

