---
import logo1 from "../assets/khimera-logo-1.webp"
import logo2 from "../assets/khimera-logo-2.webp"
import Menu from "../assets/menu-hamburger.svg"

const pathDir = Astro.url.pathname;
const path = pathDir === "/" ? "/es" : "/"
const pathDirName = pathDir === "/" ? "Es" : "En"

const link1 = pathDir === "/" ? "INTRO" : "INTRO"
const link2 = pathDir === "/" ? "ABOUT US" : "NOSOTROS"
const link3 = pathDir === "/" ? "OUR WORK" : "PORTAFOLIO"
const link4 = pathDir === "/" ? "OUR SERVICES" : "SERVICIOS"
const link5 = pathDir === "/" ? "CONTACT" : "CONTACTO"
import { fade, slide } from 'astro:transitions';

---

<header>
  <div id="deskTopHeader" >
      <div class="logoSwitchBox">
        <img class="brandLogo1" src={logo1.src} alt="brand logo, khimera design studio">
        <img class="brandLogo2" src={logo2.src} alt="brand logo, khimera design studio">
        <div class="switchsDesktopBox">
        </div> 
        <!-- <div class="switchsDesktopBox">
          <div class="theme-toggle-wrapper toggleDesktop" >
            <input type="checkbox" class="theme-toggle-checkbox" id="chk" id="theme-toggle-input" >
            <label id="theme-toggle-label" class="theme-toggle-label" for="chk"  data-astro-ignore>
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon-tabler2 icon-tabler-sun" width="15px" height="15px" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="12" r="4"></circle>
                <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon-tabler icon-tabler-moon" width="15" height="15" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"></path>
              </svg>
              <div id="theme-toggle-ball"  transition:animate={fade({ duration: '0.3s' })}>
              </div>
            </label>
            </div>
            <div class="languageToggle">
              <a href={path}>{pathDirName}</a>
            </div>
        </div> -->
        
      </div>
      <nav id="navBar" data-name="navBar">
          <div id="desktopMenu">
            <a href="#Intro" class="linkFontSizeBig" data-name="navLink">{link1}</a>
            <a href="#AboutUs" class="linkFontSizeBig" data-name="navLink">{link2}</a>
            <a href="#OurWork" class="linkFontSizeBig" data-name="navLink">{link3}</a>
            <a href="#OurServices" class="linkFontSizeBig" data-name="navLink">{link4}</a>
            <a href="#Contact" class="linkFontSizeBig" data-name="navLink" >{link5}</a>
          </div>
      </nav>
  </div>
  
  <div id="mobileHeader">
    <img class="brandLogo1" src={logo1.src} alt="brand logo, khimera design studio">
    <img class="brandLogo2" src={logo2.src} alt="brand logo, khimera design studio">
    <nav id="navBarMobile"  data-name="navBar">
      <div id="mobileMenuContainer">
        <img src={Menu.src} alt="mobile menu" id="hamburger">
        <div id="mobileMenu" class="mobileMenu mobileMenuHidden" >
          <a href="#"  class="linkFontSizeBig">{link1}</a>
          <a href="#AboutUs" class="linkFontSizeBig" >{link2}</a>
          <a href="#OurWork" class="linkFontSizeBig" >{link3}</a>
          <a href="#OurServices" class="linkFontSizeBig">{link4}</a>
          <a href="#Contact" class="linkFontSizeBig" >
            {link5}
          </a>
          <div class="theme-toggle-wrapper">
            <input type="checkbox" class="theme-toggle-checkbox" id="chk2" id="theme-toggle-input">
            <label id="theme-toggle-label2" for="chk2" class="theme-toggle-label"  data-astro-ignore>
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon-tabler2 icon-tabler-sun" width="15px" height="15px" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="12" r="4"></circle>
                <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon-tabler icon-tabler-moon" width="15" height="15" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"></path>
              </svg>
              <div id="theme-toggle-ball2" class="toggleBall">
              </div>
            </label>
            </div>
            <div class="languageToggle" id="languageToggleMobile">
              <a href={path}><p>{pathDirName}</p></a>
            </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<script>
  document.addEventListener('astro:page-load', () => {
const switchContainer = document.createElement('div');
switchContainer.className = 'theme-toggle-wrapper toggleDesktop';

const themeToggleCheckbox = document.createElement('input');
themeToggleCheckbox.type = 'checkbox';
themeToggleCheckbox.className = 'theme-toggle-checkbox';
themeToggleCheckbox.id = 'chk';

const themeToggleLabel = document.createElement('label');
themeToggleLabel.className = 'theme-toggle-label';
themeToggleLabel.id = 'theme-toggle-label';
themeToggleLabel.setAttribute('for', 'chk');
themeToggleLabel.innerHTML = `
  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon-tabler2 icon-tabler-sun" width="15px" height="15px" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <circle cx="12" cy="12" r="4"></circle>
    <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon-tabler icon-tabler-moon" width="15" height="15" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"></path>
  </svg>
  <div id="theme-toggle-ball"></div>
`;

const languageToggle = document.createElement('div');
languageToggle.className = 'languageToggle';
const link = document.createElement('a');
const pathUrl = window.location.pathname;
const pathDirName2 = pathUrl.split('/').pop();
const path22 = pathUrl === "/" ? "es" : "/"
const pathDirName = pathUrl === "/" ? "Es" : "En"
link.href = path22;
link.innerText = pathDirName;
languageToggle.appendChild(link);


switchContainer.appendChild(themeToggleCheckbox);
switchContainer.appendChild(themeToggleLabel);

const navBar = document.querySelector('.switchsDesktopBox');
navBar?.appendChild(switchContainer);
navBar?.appendChild(languageToggle);
const savedTheme = localStorage.getItem('theme') || 'light';
document.documentElement.classList.remove('light', 'dark');
document.documentElement.classList.add(savedTheme);
themeToggleCheckbox.checked = savedTheme === 'dark';

themeToggleCheckbox.addEventListener('change', () => {
  const newTheme = themeToggleCheckbox.checked ? 'dark' : 'light';
  document.documentElement.classList.remove('light', 'dark');
  document.documentElement.classList.add(newTheme);
  localStorage.setItem('theme', newTheme);
  });
});

</script>
