---
const { idx, serviceDetails:data, noPrice } = Astro.props
const pathDir = Astro.url.pathname;
const buttonText = pathDir === "/" ? "CLOSE" : "CERRAR"
let price 
if (pathDir === "/") {
  price = data.price ? `from USD ${data.price}` : noPrice;
} else if (pathDir === "/es") {
  price = data.price ? `desde USD ${data.price}` : noPrice;
}
---

<article class="iconContainer" >
  <img id={idx+'y'}   class={data?.class1} src={data?.w?.src} alt=`${data?.w?.alt || 'image'}`>
  <img id={idx+'v'} class={data?.class2} src={data?.v?.src} alt=`${data?.v?.alt || 'image'}`>
  <h2 class={`${"openDetails"+idx}`}>{data?.title}</h2>
  <dialog id={"favDialog"+idx} class="favDialog" >
    <h3>{data.title}:</h3>
    <h4>{price}</h4>
    {
      data.services.map((item: string[]) => (
        <p>{item}</p>
    ))}
    <button id={"closeDetails"+idx} class="closeDialog">{buttonText}</button>
  </dialog>
  <menu>
    <svg 
      xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
      id={"openDetails"+idx} class=`openDialog ${"openDitails"+idx}`
      >
      <g>
        <path d="M12,2A10,10,0,1,0,22,12,10.011,10.011,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,12,20Z" />
        <polygon points="12 12.586 8.707 9.293 7.293 10.707 12 15.414 16.707 10.707 15.293 9.293 12 12.586" />
      </g>
    </svg>
  </menu>
</article>





